<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>数据</title>
<link rel="stylesheet" type="text/css"
	th:href="@{css/bootstrap.min.css}">
<style type="text/css">
.sheet {
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px
}

td {
	text-align: center;
	border: 1px solid black;
	padding: 5px 0;
}

.bold {
	border-top: 2px solid black
}

.btn-success {
	font-size: 18px;
}

body {
	padding: 1% 10%;
}

.delete{
	cursor: pointer;
}
</style>
</head>
<body>
	<button class="btn-success">自动排课</button>
	<span class="info"></span>
	<span class="delete">清除数据</span>
	<table class="sheet">
		<tr>
			<td rowspan="2">日期</td>
			<td rowspan="2"></td>
			<td>教室</td>
			<td colspan="3">上午 8:30-10:20</td>
			<td colspan="3">下午 13:30-16:20</td>
			<td rowspan="2">上午</td>
			<td rowspan="2">下午</td>
			<td>教室</td>
		</tr>
		<tr>
			<td>机房</td>
			<td>内容</td>
			<td>教员</td>
			<td>班级</td>
			<td>内容</td>
			<td>教员</td>
			<td>班级</td>
			<td>机房</td>
		</tr>
		<tbody v-for="item in list">
			<tr>
				<td v-bind:rowspan="item.lists.length+1">{{item.str}}</td>
				<td v-bind:rowspan="item.lists.length+1">{{item.week}}</td>
			</tr>
			<tr v-for="room,index in item.lists">
				<td>{{room.name}}</td>
				<td>
					<span v-if="room.am.event==null">
						<span v-if="room.am.study">{{room.am.clazz.curr.ename}}</span>
						<span v-else>{{room.am.clazz.name}}</span>
					</span>
					<span v-else>
						{{room.am.event.content}}
					</span>
				</td>
				<td>
					<span v-if="room.am.event==null">
						<span v-if="room.am.study">{{room.am.clazz.teacher.name}}</span>
						<span v-else>{{room.am.clazz.name}}</span>
					</span>
					<span v-else>
						{{room.am.event.peoplesStr}}
					</span>
				</td>
				<td>{{room.am.clazz.name}}</td>
				<td><span v-if="room.pm.study">{{room.pm.clazz.curr.ename}}</span>
					<span v-else>{{room.pm.clazz.name}}</span></td>
				<td><span v-if="room.pm.study">{{room.pm.clazz.teacher.name}}</span>
					<span v-else>{{room.pm.clazz.name}}</span></td>
				<td>{{room.pm.clazz.name}}</td>
				<td v-if="!item.studys[index]" colspan="3"></td>
				<td v-if="item.studys[index]"><span >{{item.studys[index].am.clazz.name}}</span>
				</td>
				<td v-if="item.studys[index]"><span>{{item.studys[index].pm.clazz.name}}</span>
				</td>
				<td v-if="item.studys[index]"><span>{{item.studys[index].name}}</span>
				</td>
			</tr>
			<tr>
				<td>备注</td>
				<td colspan="12"></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{js/vue.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	var v=new Vue({
		el:".sheet",
		data:{
			list:[[${plans}]]
		},
		methods:{
			
		}
	});
	
	$(".btn-success").click(function(){
		$.ajax({
			url : "auto",
			success:function(data){
				$(".info").text("");
				v.list=JSON.parse(data);
			},error:function(){
				$(".info").text("失败");
				$(".info").css("color","red");
			}
		});
	});
	
	$(".delete").click(function(){
		$.ajax({
			url:"delete",
			success:function(data){
				v.list=JSON.parse(data);
			}
		});
	});
	
</script>
</body>
</html>