<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>注册</title>
<link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}">
</head>
<body>
	<div id="header" class="wrap">
		<div id="logo">
			<img th:src="@{static/images/logo.gif}">
		</div>
	</div>
	<div id="regLogin" class="wrap">
		<div class="dialog">
			<dl class="clearfix">
				<dt>新用户注册</dt>
				<dd class="past">填写个人信息</dd>
			</dl>
			<div class="box">
				<form th:action="@{/regs}" method="post">
					<div class="infos">
						<table class="field">
							<tbody>
								<tr>
									<td class="field">用 户 名：</td>
									<td><input class="text" type="text" name="name"></td>
								</tr>
								<tr>
									<td class="field">密 码：</td>
									<td><input class="text" type="password" name="pwd"></td>
								</tr>
								<tr>
									<td class="field">确认密码：</td>
									<td><input class="text" type="password">
									</td>
								</tr>
								<tr>
									<td class="field">电 话：</td>
									<td><input class="text" type="text" name="phone">
									</td>
								</tr>
								<tr>
									<td class="field">出生日期：</td>
									<td><input class="text" type="date" name="birthday">
									</td>
								</tr>
								<tr>
									<td class="field">地址：</td>
									<td><input class="text" type="text" name="address">
									</td>
								</tr>
							</tbody>
						</table>
						<div class="buttons">
							<input value="立即注册" type="submit">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="footer" class="wrap">
		<dl>
			<dt>青鸟租房 © 2010 北大青鸟 京ICP证1000001号</dt>
			<dd>关于我们 · 联系方式 · 意见反馈 · 帮助中心</dd>
		</dl>
	</div>
</body>
</html>