<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>智慧校园</title>
<!-- Mobile specific metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Force IE9 to render in normal mode -->
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<meta name="author" content="SuggeElson" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="application-name" content="sprFlat admin template" />
<!-- Import google fonts - Heading first/ text second -->
<link rel='stylesheet' type='text/css' />
<!--[if lt IE 9]>

		<![endif]-->
<!-- Css files -->
<!-- Icons -->
<link href="assets/css/icons.css" rel="stylesheet" />
<!-- jQueryUI -->
<link href="assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
<!-- Bootstrap stylesheets (included template modifications) -->
<link href="assets/css/bootstrap.css" rel="stylesheet" />
<!-- Plugins stylesheets (all plugin custom css) -->
<link href="assets/css/plugins.css" rel="stylesheet" />
<!-- Main stylesheets (template main css file) -->
<link href="assets/css/main.css" rel="stylesheet" />
<!-- Custom stylesheets ( Put your own changes here ) -->
<link href="assets/css/custom.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/curr.css" />
<link rel="stylesheet" type="text/css" href="css/tanao_plugins.css" />
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="assets/img/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="assets/img/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="assets/img/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="assets/img/ico/apple-touch-icon-57-precomposed.png">
<link rel="icon" href="assets/img/ico/favicon.ico" type="image/png">
<!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
<meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body>
	<div id="header">
		<div class="container-fluid">
			<div class="navbar">
				<div class="navbar-header">
					<a class="navbar-brand" href="cp_index.html"> <i
						class="im-windows8 text-logo-element animated bounceIn"></i><span
						class="text-logo">智慧</span><span class="text-slogan">校园</span>
					</a>
				</div>
				<nav class="top-nav" role="navigation">
					<ul class="nav navbar-nav pull-left">
						<li id="toggle-sidebar-li"><a href="#" id="toggle-sidebar"><i
								class="en-arrow-left2"></i> </a></li>
						<li><a href="#" class="full-screen"><i
								class="fa-fullscreen"></i></a></li>
						<li class="dropdown"><a href="#" data-toggle="dropdown"><i
								class="ec-cog"></i><span class="notification">10</span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#"><i class="en-database"></i> Database <span
										class="notification">3</span></a></li>
								<li><a href="#"><i class="st-cube"></i> Packages <span
										class="notification blue">17</span></a></li>
								<li><a href="#"><i class="st-health"></i> Disconnects <span
										class="notification yellow">1</span></a></li>
								<li><a href="#"><i class="im-images"></i> Images <span
										class="notification teal">320</span></a></li>
								<li><a href="#"><i class="st-users"></i> Users <span
										class="notification orange">2k</span></a></li>
								<li><a href="#"><i class="st-meter"></i> Traffic <span
										class="notification magenta">2tb</span></a></li>
								<li><a href="#"><i class="im-coin"></i> Finances <span
										class="notification pink">+3k</span></a></li>
								<li><a href="#"><i class="st-folder"></i> Directories <span
										class="notification green">17</span></a></li>
								<li><a href="#"><i class="st-bag"></i> Orders <span
										class="notification purple">12</span></a></li>
								<li><a href="#"><i class="ec-contract"></i> Contracts <span
										class="notification dark">7</span></a></li>
							</ul></li>
						<li class="dropdown"><a href="#" data-toggle="dropdown"><i
								class="ec-mail"></i><span class="notification">4</span></a>
							<ul class="dropdown-menu email" role="menu">
								<li class="mail-head">
									<div class="clearfix">
										<div class="pull-left">
											<a href="email-inbox.html"><i class="ec-archive"></i></a>
										</div>
										<span>Inbox</span>
										<div class="pull-right">
											<a href="email-inbox.html"><i class="st-pencil"></i></a>
										</div>
									</div>
								</li>
								<li class="search-email">
									<form>
										<input type="text" name="search"
											placeholder="Search for emails">
										<button type="submit">
											<i class="ec-search"></i>
										</button>
									</form>
								</li>
								<li class="mail-list clearfix"><a href="#"> <img
										src="assets/img/avatars/128.jpg" class="mail-avatar pull-left"
										alt="avatar">
										<p class="name">
											<span class="status"><i class="en-dot"></i></span> Jason
											Rivera <span class="notification">2</span> <span class="time">12:30
												am</span>
										</p>
										<p class="msg">I contact you regarding my account please
											can you set up my pass ...</p>
								</a></li>
								<li class="mail-list clearfix"><a href="#"> <img
										src="assets/img/avatars/129.jpg" class="mail-avatar pull-left"
										alt="avatar">
										<p class="name">
											<span class="status off"><i class="en-dot"></i></span> Steeve
											Mclark <span class="notification">6</span> <span class="time">10:26
												am</span>
										</p>
										<p class="msg">Good job dude awesome work here, please add
											theese features ...</p>
								</a></li>
								<li class="mail-list clearfix"><a href="#"> <img
										src="assets/img/avatars/130.jpg" class="mail-avatar pull-left"
										alt="avatar">
										<p class="name">
											<span class="status off"><i class="en-dot"></i></span> Fellix
											Jones <span class="notification">1</span> <span class="time">7:15
												am</span>
										</p>
										<p class="msg">I have some issues when try to reach my
											product page can you ...</p>
								</a></li>
								<li class="mail-list clearfix"><a href="#"> <img
										src="assets/img/avatars/131.jpg" class="mail-avatar pull-left"
										alt="avatar">
										<p class="name">
											<span class="status"><i class="en-dot"></i></span> Tina
											Dowsen <span class="notification">5</span> <span class="time">03:46
												am</span>
										</p>
										<p class="msg">Hello Sugge, i want to apply for your
											referal program , please ...</p>
								</a></li>
								<li class="mail-more"><a href="email-inbox.html">View
										all <i class="en-arrow-right7"></i>
								</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li><a href="#" id="toggle-header-area"><i
								class="ec-download"></i></a></li>
						<li class="dropdown"><a href="#" data-toggle="dropdown"><i
								class="br-alarm"></i> <span class="notification">5</span></a>
							<ul class="dropdown-menu notification-menu right" role="menu">
								<li class="clearfix"><i class="ec-chat"></i> <a href="#"
									class="notification-user"> Ric Jones </a> <span
									class="notification-action"> replied to your </span> <a
									href="#" class="notification-link"> comment</a></li>
								<li class="clearfix"><i class="st-pencil"></i> <a href="#"
									class="notification-user"> SuggeElson </a> <span
									class="notification-action"> just write a </span> <a href="#"
									class="notification-link"> post</a></li>
								<li class="clearfix"><i class="ec-trashcan"></i> <a
									href="#" class="notification-user"> SuperAdmin </a> <span
									class="notification-action"> just remove </span> <a href="#"
									class="notification-link"> 12 files</a></li>
								<li class="clearfix"><i class="st-paperclip"></i> <a
									href="#" class="notification-user"> C. Wiilde </a> <span
									class="notification-action"> attach </span> <a href="#"
									class="notification-link"> 3 files</a></li>
								<li class="clearfix"><i class="st-support"></i> <a href="#"
									class="notification-user"> John Simpson </a> <span
									class="notification-action"> add support </span> <a href="#"
									class="notification-link"> ticket</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" data-toggle="dropdown">
								<img class="user-avatar" src="assets/img/avatars/48.jpg"
								alt="SuggeElson">SuggeElson
						</a>
							<ul class="dropdown-menu right" role="menu">
								<li><a href="profile.html"><i class="st-user"></i>
										Profile</a></li>
								<li><a href="file.html"><i class="st-cloud"></i> Files</a>
								</li>
								<li><a href="#"><i class="st-settings"></i> Settings</a></li>
								<li><a href="login.html"><i class="im-exit"></i> Logout</a>
								</li>
							</ul></li>
						<li id="toggle-right-sidebar-li"><a href="#"
							id="toggle-right-sidebar"><i class="ec-users"></i> <span
								class="notification">3</span></a></li>
					</ul>
				</nav>
			</div>
			<!-- Start #header-area -->
			<div id="header-area" class="fadeInDown">
				<div class="header-area-inner">
					<ul class="list-unstyled list-inline">
						<li>
							<div class="shortcut-button">
								<a href="#"> <i class="im-pie"></i> <span>Earning
										Stats</span>
								</a>
							</div>
						</li>
						<li>
							<div class="shortcut-button">
								<a href="#"> <i class="ec-images color-dark"></i> <span>Gallery</span>
								</a>
							</div>
						</li>
						<li>
							<div class="shortcut-button">
								<a href="#"> <i class="en-light-bulb color-orange"></i> <span>Fresh
										ideas</span>
								</a>
							</div>
						</li>
						<li>
							<div class="shortcut-button">
								<a href="#"> <i class="ec-link color-blue"></i> <span>Links</span>
								</a>
							</div>
						</li>
						<li>
							<div class="shortcut-button">
								<a href="#"> <i class="ec-support color-red"></i> <span>Support</span>
								</a>
							</div>
						</li>
						<li>
							<div class="shortcut-button">
								<a href="#"> <i class="st-lock color-teal"></i> <span>Lock
										area</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- End #header-area -->
		</div>
		<!-- Start .header-inner -->
	</div>
	<div id="sidebar">
		<!-- Start .sidebar-inner -->
		<div class="sidebar-inner">
			<!-- Start #sideNav -->
			<ul id="sideNav" class="nav nav-pills nav-stacked">
				<li class="top-search">
					<form>
						<input type="text" name="search" placeholder="Search ...">
						<button type="submit">
							<i class="ec-search s20"></i>
						</button>
					</form>
				</li>
				<li><a href="cp_index.html">首页<i class="im-screen"></i></a></li>
				<li><a href="StatisticsMainPage.html" target="iFrame1">数据统计<i
						class="st-chart"></i></a></li>
				<li><a href="#">课表 <i class="fa-leaf"></i></a>
					<ul class="nav sub">
						<li><a href="charts.to"><i class="im-paragraph-justify"></i>
								查看 课表</a></li>
						<li><a href="switching.to"><i class="im-keyboard"></i> 调课</a></li>
					</ul></li>
				<!--班级管理-->
				<li><a href="#"> 班级管理 <i class="im-table2"></i></a>
					<ul class="nav sub">
						<li><a href="clazz.to"><i class="im-newspaper"></i>
								查看班级</a></li>
						<li><a href="addclazz.to"><i class="im-calculate"></i>
								新增班级</a></li>
					</ul></li>
				<li><a href="#">考勤 <i class="st-lab"></i></a>
					<ul class="nav sub">
						<li><a href="toQingjia" target="iFrame1"><i
								class="fa-bell"></i> 学生请假</a></li>
						<li><a href="toKaoqin" target="iFrame1"><i
								class="fa-bell"></i> 学生考勤</a></li>
						<li><a href="toYuangongKaoqin" target="iFrame1"><i
								class="br-window"></i> 教员考勤</a></li>
						<li><a href="toYuangongQingjia" target="iFrame1"><i
								class="im-windows8"></i> 校工请假</a></li>
						<li><a href="toFangtan" target="iFrame1"><i
								class="im-windows8"></i> 访谈</a></li>
					</ul></li>
				<li><a href="#">任务管理 <i class="st-lab"></i></a>
					<ul class="nav sub">
						<li><a href="teacher" target="iFrame1"><i class="fa-bell"></i>
								任务发布</a></li>
						<li><a href="yiyi" target="iFrame1"><i
								class="im-windows8"></i> 查看任务</a></li>
					</ul></li>
				<li><a href="#">题库管理 <i class="st-lab"></i></a>
					<ul class="nav sub">
						<li><a href="questions.html" target="iFrame1"><i
								class="fa-bell"></i> 新增题库</a></li>
						<li><a href="choosing.html" target="iFrame1"><i
								class="br-window"></i> 出题</a></li>
						<li><a href="selectTest.html" target="iFrame1"><i
								class="im-windows8"></i> 发布考试</a></li>
						<li><a href="tiles.html" target="iFrame1"><i
								class="im-windows8"></i> 发布作业</a></li>
					</ul></li>
				<li><a href="#">消息公告<i class="st-lab"></i></a>
					<ul class="nav sub">
						<li><a href="hxk_history.html" target="iFrame1"><i
								class="fa-bell"></i> 历史公告</a></li>
						<li><a href="hxk_write.html" target="iFrame1"><i
								class="br-window"></i> 发布公告</a></li>
						<li><a href="hxk_message.html" target="iFrame1"><i
								class="im-windows8"></i> 查看消息</a></li>
					</ul></li>
				<li><a href="#">版本及课程 <i class="im-twitter2"></i></a>
					<ul class="nav sub">
						<li><a href="version.to"><i class="br-mouse"></i> 查看历史版本</a>
						</li>
						<li><a href="addVersion.to"><i class="br-stats"></i> 新增版本</a>
						</li>
						<li><a href="versioninfo.to"><i class="st-atom"></i> 版本修改</a>
						</li>
						<li><a href="curr.to"><i class="im-table2"></i> 课程管理</a></li>
					</ul></li>

			</ul>
		</div>
		<!-- End .sidebar-inner -->
	</div>
	<div id="iframeSec">
		<iframe src="" frameborder="0" align="left" width="100%" height=""
			scrolling="no" name="iFrame1"></iframe>
	</div>
	<div id="content">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-lg-12 heading">
					<h1 class="page-header">
						<i class="im-table2"></i> 课程管理
					</h1>
					<ul id="crumb" class="breadcrumb">
					</ul>
				</div>
			</div>
			<div id="curr-content">
				<div id="curr-header">
					<span> 专业: <select id="major">
							<option value="all">全部</option>
							<option v-for="major in majors" :value="major.id">{{major.name}}</option>
					</select>
					</span> <span> 年级: <select id="grade">
							<option value="all">全部</option>
							<option v-for="grade in grades" :value="grade.id">{{grade.name}}</option>
					</select>
					</span>
					<div id="curr-header-icons">
						<button id="delete" class="btn btn-danger hide-it">删除</button>
						<i id="plus-curr" class="im-plus"></i> <i id="remove-it"
							class="im-remove2"></i>
					</div>
				</div>
				<div id="curr-table">
					<table style="text-align: center;" width="100%">
						<tr>
							<td style="position: absolute;"><input type="checkbox"
								class="hide-it" id="all" /></td>
							<td>课程</td>
							<td>专业</td>
							<td>年级</td>
							<td>章节数</td>
							<td>课时</td>
							<td></td>
						</tr>
						<tr class="tr" v-for="curr in lists">
							<td style="position: absolute;"><input type="checkbox"
								class="curr hide-it" :value="curr.id" /></td>
							<td>{{curr.name}}</td>
							<td><span v-if="curr.major"> {{curr.major.name}} </span></td>
							<td><span v-if="curr.grade"> {{curr.grade.name}} </span></td>
							<td><span> {{curr.num}} </span></td>
							<td><span> {{curr.hour}} </span></td>
							<td><span class="a info" v-bind:cid="curr.id">查看详情</span></td>
						</tr>
					</table>
					<div id="curr-footer" class="hide-it">
						<span class="fc-button fc-state-default fc-corner-left"> <i
							class="en-arrow-left8 s16"></i>
						</span> <span class="fc-button fc-state-default fc-corner-right">
							<i class="en-arrow-right8 s16"></i>
						</span>
					</div>
				</div>
			</div>
			<div id="curr-info" class="hide-it">
				<div class="curr-icons">
					<i id="plus" class="im-plus"></i> <i id="edit" class="im-quill"></i>
					<i id="remove" class="im-remove2"></i> <i id="close"
						class="im-close"></i>
				</div>
				<div class="col-lg-5">
					<div id="info-header" v-if="curr">
						<p>
							<input id="infoname" class="spe" size="23" readonly="readonly"
								:value="curr.name" /> 简称(英):<input id="infoename" class="spe"
								size="4" readonly="readonly" :value="curr.ename" /> <span
								class="span"> 章节数:<span class="snum">{{curr.num}}</span>
								总课时:<span class="hnum">{{curr.hour}}</span>
							</span>
						</p>
						<p>
							年级: <span class="an"> <select id="infograde"
								class="select sel" :value="curr.grade.id" disabled="false">
									<option v-for="item in grades" :value="item.id">{{item.name}}</option>
							</select>
							</span>
						</p>
						<p>
							所属专业: <span class="an"> <select id="infomajor"
								class="select sel" :value="curr.major.id" disabled="false">
									<option v-for="item in majors" :value="item.id">{{item.name}}</option>
							</select>
							</span>
						</p>
					</div>
					<div class="curr-lists" v-if="curr">
						章节:
						<div style="height: 20px;">
							<input class="hide-it" id="removeAll" type="checkbox" />
						</div>
						<div class="sec save" v-for="section in curr.lists"
							:sid="section.id">
							<input type="checkbox" class="hide-it" :value="section.id" /> <input
								:value="section.name" class="spe" style="margin-right: 100px;"
								readonly="readonly" /> 课时: <input type="number" class="spe"
								style="width: 35px;" min="1" max="4" readonly="readonly"
								:value="section.hour" />
						</div>
						<div id="new"></div>
						<div id="new-btn" class="hide-it">
							<button class="btn btn-success"
								style="margin-right: 140px; margin-left: 60px;">确认</button>
							<button class="btn cancel">取消</button>
						</div>
						<div id="edit-btn" class="hide-it">
							<button class="btn btn-success"
								style="margin-right: 140px; margin-left: 60px;">确认</button>
							<button class="btn cancel">取消</button>
						</div>
					</div>
				</div>
				<div class="col-lg-7 teacher">
					<h5 id="allTeacher">上课老师</h5>
					<div v-for="teacher in teachers">
						<input disabled="disabled" :checked="teacher.check"
							type="checkbox" :value="teacher.id"> {{teacher.name}}
					</div>
				</div>
			</div>
			<div id="section-remove" class="hide-it">
				<button id="remove-section" class="btn btn-warning">删除章节</button>
				<button id="remove-curr" class="btn btn-danger">删除课程</button>
				<button class="btn cancel">取消</button>
			</div>
			<div id="curr-add" class="hide-it">
				<div class="curr-icons">
					<i id="add-plus" class="im-plus"></i> <i class="im-close add-close"></i>
				</div>
				<div class="col-lg-5">
					<div class="info-header">
						<p>
							课程名: <input id="currname" /> 简称(英):<input id="currename" />
						</p>
						<p>
							年级 : <select id="currgrade">
								<option v-for="grade in grades" :value="grade.id">{{grade.name}}</option>
							</select>
						</p>
						<p>
							所属专业 : <select id="currmajor">
								<option v-for="major in majors" :value="major.id">{{major.name}}</option>
							</select>
						</p>
						<p>
							章节数: <span class="snum">0</span> 总课时: <span class="hnum">0</span>
						</p>
					</div>
					<div class="curr-lists" id="curr-lists">
						<div class="sec">
							章节 : <input
								style="margin-right: 60px; border-bottom: 1px solid black;" />
							<span class="sec-hour"> 课时: <input type="number" value="1"
								min="1" max="4" />
							</span>
							<button class="btn hide-it remove">移除</button>
						</div>
					</div>
					<div style="margin-top: 20px;">
						<button class="btn btn-success"
							style="margin-right: 140px; margin-left: 60px;">确认</button>
						<button class="btn add-close">取消</button>
					</div>
				</div>
				<div class="col-lg-7 teacher">
					<h5 id="allTeacher">上课老师</h5>
					<div v-for="teacher in teachers">
						<input type="checkbox" :value="teacher.id"> {{teacher.name}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="hint" class="hide-it"></div>
</body>
<script src="assets/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="assets/js/jquery-1.8.3.min.js"></script>
<script>
	window.jQuery
			|| document
					.write('<script src="assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="assets/js/jquery-ui.js"></script>
<script>
	window.jQuery
			|| document
					.write('<script src="assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
		<script type="text/javascript" src="assets/js/libs/excanvas.min.js"></script>
		<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script type="text/javascript" src="assets/js/libs/respond.min.js"></script>
		<![endif]-->
<!-- Bootstrap plugins -->
<script src="assets/js/bootstrap/bootstrap.js"></script>
<!-- Core plugins ( not remove ever) -->
<!-- Handle responsive view functions -->
<script src="assets/js/jRespond.min.js"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
<script
	src="assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<!-- Resize text area in most pages -->
<script src="assets/plugins/forms/autosize/jquery.autosize.js"></script>
<!-- Proivde quick search for many widgets -->
<script src="assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
<!-- Bootbox confirm dialog for reset postion on panels -->
<script src="assets/plugins/ui/bootbox/bootbox.js"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
<script src="assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
<script src="assets/plugins/forms/tinymce/tinymce.min.js"></script>
<script src="assets/plugins/misc/highlight/highlight.pack.js"></script>
<script src="assets/plugins/misc/countTo/jquery.countTo.js"></script>
<script src="assets/plugins/ui/weather/skyicons.js"></script>
<script src="assets/plugins/ui/notify/jquery.gritter.js"></script>
<script src="assets/plugins/ui/calendar/fullcalendar.js"></script>
<script src="assets/js/jquery.sprFlat.js"></script>
<script src="assets/js/app.js"></script>
<script src="js/url.js"></script>
<script src="js/vue.js"></script>
<script src="js/curr.js"></script>
</html>
