<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.GradeMapper">
	<cache></cache>
	<resultMap type="com.accp.domain.Grade" id="grade">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="floor" column="floor" />
	</resultMap>
	<select id="queryById" resultMap="grade">
		select *
		from grade
		where id=#{id}
	</select>
</mapper>
