<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.PlanMapper">
	<cache></cache>
	<resultMap type="com.accp.domain.Plan" id="plan">
		<result property="id" column="id" />
		<result property="ap" column="ap" />
		<result property="active" column="active" />
		<result property="date" column="date"/>
		<result property="study" column="study"/>
		<association property="clazz" javaType="com.accp.domain.Clazz" select="com.accp.mapper.ClazzMapper.queryById" column="cid"></association>
		<association property="room" column="roomid" javaType="com.accp.domain.Room" select="com.accp.mapper.RoomMapper.queryById"></association>
	</resultMap>
	<select id="datePlan" resultMap="plan">
		select *
		from plan
		where Date(`date`)=Date(#{date}) and roomid = #{id}
	</select>
	<select id="queryById" resultMap="plan">
		select *
		from plan
		where id=#{id}
	</select>
</mapper>
