<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.mapper.RoomMapper">
	<cache></cache>
	<resultMap type="com.accp.domain.Room" id="room">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="floor" column="floor" />		
	</resultMap>
	<resultMap type="com.accp.domain.Room" id="planRoom" extends="room">
		<association property="plans" column="{date=date,id=id}" javaType="list" select="com.accp.mapper.PlanMapper.datePlan"></association>
	</resultMap>
	<select id="queryById" resultMap="room">
		select *
		from classroom
		where id=#{id}
	</select>
	<select id="roomNum" resultType="int">
		select count(0)
		from classroom
		where floor=#{floor}
	</select>
	<select id="roomFloor" resultMap="planRoom">
		select *,#{date} date
		from classroom
		where floor=#{floor}
		order by name
	</select>
</mapper>
